$default-background: #FFFFFF;
$default-background-offset: #FFFFFFC9;
$primary-font-color: #3C3C3C;
$primary-font-color-offset: #000000;
$accent-font-color: #5E5322;
$placeholder-font-color: #3C3C3C26;
$underline-color: #707070;
$secondary-background: #F0F1F1;
$home-page-button: #00000000;
$create-account-border: #FAD648;
$account-button-font: #737373;
$decoration-color: #1A1818;